
@{
    Layout = null;
    //UI Layout
}

<!doctype html>
<html lang="tr">

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body>
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    @RenderBody()
    <div id="root"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
