
<div class="top-line backgroundcolor1">
    <div class="container d-flex justify-content-between align-items-center">
        <span class="text-white d-flex justify-content-start color4">
            <i class="color4 fa-solid fa-phone"></i> 0532 708 98 78
        </span>
        <div class="socialMedia d-flex">
            <span><i class="fa-brands fa-instagram color4 m-2 fa-xl"></i></span>
            <span><i class="fa-brands fa-facebook color4 m-2 fa-xl"></i></span>
            <span><i class="fa-brands fa-linkedin color4 m-2 fa-xl"></i></span>
        </div>
    </div>
</div>

<nav class="navbar backgroundcolor2 navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a href="/" class="Link navbar-brand color1">
            <img class="logo" src="Picture/KVCLOGO2.png" alt="KVC Logo">
            <span class="kvcTitle color1">KVC GAYRİMENKUL</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/AdsPage" class="Link nav-link active color1">İlanlar</a>
                </li>
                <li class="nav-item">
                    <a href="/AboutPage" class="Link color1 nav-link">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a href="/ContactPage" class="Link nav-link color1">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>