@model UpdateAdvertisementTypeDto
@{
	ViewData["Title"] = "UpdateAdvertisementType";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İlan Tipi İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">İlan Tipi Güncelleme</div>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="AdvertisementTypeID" />
							<div class="form-group p-0">
								<label for="advertisementTypeName">İlan Tipini Giriniz</label>
								<input type="text" class="form-control" asp-for="AdvertisementTypeName" id="advertisementTypeName">
							</div>
						</div>
						<div class="mb-4 mt-3 mx-3">
							<button class="btn btn-outline-info">İlan Tipini Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

