<footer>
    <div class="footer backgroundcolor2">
        <div class="container text-center color4">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h5 class="footerTitle">KVC Gayrimenkul Ailesi olarak Güven ve Başarıyı Birlikte İnşa Ediyoruz</h5>
                    <p>KVC Gayrimenkul, hayallerinizi gerçeğe dönüştürmek için burada! Geniş portföyümüzle, ideal evinizi veya yatırımınızı bulmanıza yardımcı olmak için buradayız. Bize ulaşın ve mükemmel gayrimenkulü keşfedin!</p>
                </div>
                <div class="col-12 col-sm-4">
                    <h5 class="footerTitle">İletişim</h5>
                    <p>Mail: abc@gmail.com</p>
                    <p>Adres:</p>
                    <p>Telefon: 54943953</p>
                    <p>Sahibinden:</p>
                </div>
                <div class="col-12 col-sm-4">
                    <h5 class="footerTitle mb-4">Sosyal Medya</h5>
                    <span><i class="fas fa-envelope m-2 color4 fa-xl"></i></span>
                    <span><i class="fab fa-instagram m-2 fa-xl"></i></span>
                    <span><i class="fab fa-facebook m-2 fa-xl"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="backgroundcolor1">
        <div class="container text-white d-flex justify-content-start py-2 color4 subLine">
            © KVC Gayrimenkul - Tüm Hakları Saklıdır.
        </div>
    </div>
</footer>