
<div class="satisfaction">
    <div class="container text-center color1">
        <div class="row">
            <div class="col-12 col-sm-4" data-aos="fade-up">
                <i class="fa-solid fa-user-group color4 mb-4 fa-2xl"></i>
                <h3>20+</h3>
                <span>Mutlu Müşteri</span>
            </div>
            <div class="col-12 col-sm-4" data-aos="fade-up">
                <i class="fa-regular fa-calendar-check color4 mb-4 fa-2xl"></i>
                <h3>20+</h3>
                <span>Referans</span>
            </div>
            <div class="col-12 col-sm-4" data-aos="fade-up">
                <i class="fa-solid fa-house color4 mb-4 fa-2xl"></i>
                <h3>@ViewBag.AdCount</h3>
                <span>Güncel İlan</span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 800,  // Animasyon süresi (milisaniye)
        easing: 'ease-in-out',  // Animasyon yumuşatma ayarı
    });
</script>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .contactLinkContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ContactLink {
        color: #0D1926 !important;
        width: 17rem;
        height: 3rem;
        font-size: x-large;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-12 {
        padding: 2.5rem;
    }

</style>
